<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar Post</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/style.css') }}">
</head>
<body>
    <div class="menuoptions">
        <div class="menucontent">
            <a href="datapublish">Publicar</a> | <a href="dashboard">Dashboard</a> | <a href="sign_out">Sair</a>
        </div>
    </div>
        <div class="publishpost">
            <div class="publishheader">
                    Publicar Post
                    <div class="publishcontent">
                        <form method="POST" action="/add_data">
                            age<br>
                            <input type="text" class="" id="age" name="age"><br>
                            sex<br>
                            <input type="text" class="" id="sex" name="sex"><br>
                            cp<br>
                            <input type="text" class="" id="cp" name="cp"><br>
                            trtbps<br>
                            <input type="text" class="" id="trtbps" name="trtbps"><br>
                            chol<br>
                            <input type="text" class="" id="chol" name="chol"><br>
                            fbs<br>
                            <input type="text" class="" id="fbs" name="fbs"><br>
                            restecg<br>
                            <input type="text" class="" id="restecg" name="restecg"><br>
                            thalachh<br>
                            <input type="text" class="" id="thalachh" name="thalachh"><br>
                            exng<br>
                            <input type="text" class="" id="exng" name="exng"><br>
                            oldpeak<br>
                            <input type="text" class="" id="oldpeak" name="oldpeak"><br>
                            slp<br>
                            <input type="text" class="" id="slp" name="slp"><br>
                            caa<br>
                            <input type="text" class="" id="caa" name="caa"><br>
                            thall<br>
                            <input type="text" class="" id="thall" name="thall"><br>
                            
                            <input type="submit" value="Publicar Dado">
                        </form>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>