<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- Usando o CSS próprio -->
	<!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}" />

    <title>Currículo Entrega</title>
  </head>
  <body>

	<div class="container">
		<!-- Conteúdo aqui -->
		<h1><b>Currículo</b></h1>
		<!-- Empilhe as colunas, em dispositivos móveis, fazendo com que uma tenha largura total e a outra só metade -->
		<div class="row">
			<div class="col-12 col-md-8 nome" id="nome"><b>João Pedro Gonçalves Carazzato </b>
			<a href="https://www.linkedin.com/in/jo%C3%A3o-pedro-gon%C3%A7alves-carazzato-147120231"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" width="20" height="20"></a></div> <!-- esquerda cima-->
			<div class="col-6 col-md-4 right gray">Computer Engineer</div> <!-- direita cima-->
		</div>
		<hr>
		<!-- Colunas começam com largura de 50%, em dispositivos móveis, e caem para 33.3% nos desktops -->
		<div class="row">
			<div class="col-12 col-md-4 middletext middle"><div class="bigtext">
                <b>Idiomas</b></div><br>Português<br>Espanhol<br>Inglês
            </div>
			<div class="col-12 col-md-4">
                <a href="https://www.linkedin.com/in/jo%C3%A3o-pedro-gon%C3%A7alves-carazzato-147120231">
                    <img class="profilepic" src="https://media.licdn.com/dms/image/D4D03AQHoDaWKZVTo8g/profile-displayphoto-shrink_800_800/0/1691637032271?e=1697068800&v=beta&t=xq_t0Puy1mvZzjDLbmdl1cSDAwTz7h-ViMnA6Y15iLc" alt="Foto do apresentante do curriculo."></a>
                </div> <!--meio esquerda, meio, meio direita-->
			<div class="col-12 col-md-4 middletext middle">
                <div class="bigtext">
                    <b>Portfólio</b>
                </div>
                <div class="justify">
                    <br>
                    <ul>
                        <li><a href="https://github.com/2022M1T1/Projeto1"><u>AMBEV - Gamificação do Processo de Diversificação</u></a></li>
                    
                        <li><a href="https://github.com/2022M2T1-Inteli/Programaria"><u>Brazillians in Tech - aplicação web para encontrar vagas de emprego na área de tech</u></a></li>
                    
                        <li><a href="https://github.com/2022M3T1-Inteli/Turing-Labs"><u>Banco Pan - Modelo preditivo de atendimento personalizado</u></a></li>
                    
                        <li><a href="https://github.com/2022M4T1-Inteli/iPoint"><u>IPT - Localização de equipamentos ativos através de IoT</u></a></li>
                    
                        <li><a href="https://github.com/2023M5T2-Inteli/2023M5T2-Inteli-grupo-5-Magneminers"><u>IPT - Processo de separação de minerais magnéticos automatizado</u></a></li>
                    
                        <li><a href="https://github.com/2023M6T2-Inteli/Grupo04"><u>Gerdau - Simulação robótica para avaliações em espaços confinados</u></a></li>
                    </ul>
                </div></div>
		</div>
		<hr>
		<div class="row">
		<!-- Colunas sempre com metade da largura disponível, em dispositivos móveis e desktop -->
			<div class="col-12 col-md-12 middletext" id="peak"><b>Linguagens Conhecidas</b><div class="bigtext" id="ghost"><br>
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" alt="Foto da Linguagem CSS" width="40" height="40">
				<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" alt="Foto da Linguagem HTML" width="40" height="40">
				<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/godot/godot-original.svg" alt="Foto da Linguagem Godot" width="40" height="40">
				<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="Foto da Linguagem JavaScript" width="40" height="40">
                <img src="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/files/python-logo-only.svg" alt="Foto da Linguagem Python" width="40" height="40">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/MicroPython_new_logo.svg" alt="Foto da Linguagem MicroPython" width="40" height="40"></div></div> <!-- baixo -->
			</div>
			<br>
	</div>
    </body>
</html>